* {
    margin: 0;
    padding: 0;
}

body {
    background: dimgray;
}

#header, #footer {
    width: 100%;
    height: 75px;
    text-align: center;
    border-bottom: 2px solid silver;
    background: purple;
    color:aliceblue;
    line-height: 75px;
    margin-bottom: 50px;
    float:left;
}

#navbar ul{
	display: none;
	background-color: #f90;
	position: absolute;
	top: 100%;
}

#navbar li:hover ul {
	display: block;
}

#navbar, #navbar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navbar {
	height: 30px;
	background-color: #666;
	padding-left: 25px;
	min-width: 470px;
}

#navbar, #navbar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navbar li {
	float: left;
	position: relative;
	height: 100%;
}

#navbar li a {
	display: block;
	padding: 6px;
	width: 100px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

#navbar ul li { float: none; }

#navbar li:hover { background-color: #f90; }

#navbar ul li:hover { background-color: #666; }

#main {
    width: 50%;
    margin-left: 10%;
    background: wheat;
    border:solid silver;
    padding: 20px 2.5%;
    float:left;
    z-index: 1;
}

#aside {
    width: 20%;
    padding: 20px 2.5%;
    background: wheat;
    border: solid silver;
    float:left;
    margin-left: 5%;
    position: relative;
    bottom: -10px;
    left: -10px;
    z-index: 0;
}

#footer {
    margin-bottom: 0;
    margin-top: 50px;
    border-bottom: 0;
    border-top: 5px solid silver;
}

#some_block {
    background: yellowgreen;
    color: blueviolet;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: static;
    left: 20px;
    top: 10px;
}